body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

.cabecalho {
    background-color: brown;
    display: flex;
    justify-content: space-evenly;
}

.cabecalho h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho ul {
    list-style: none;    
    display: flex;
    gap: 3vw;
    align-items: center;
    font-size: 1.4vw;
    border: solid 2px white;
    padding: 12px;
    border-radius: 2vw;
}

.cabecalho a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}   

.musicas {
    background-color: rgb(250, 230, 206);
    border-radius: 2vw;
    
}

.musicas h1 {
    color: ;
}